* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--first-text-color);
    text-decoration: none;
}

:root {
    --first-text-color: #443308;
    --second-text-color: #000000;
    --tird-text-color: #8a4913;
    --first-color: #e2e3d1;
    --second-color: #c9cbad;
    --tird-color: #9fa182;
}

html {
    height: fit-content;
    width: 100vw;
    font-size: 16px;
}

body {
    background-color: var(--first-color);
    height: fit-content;
    padding: 1rem;
    width: 100vw;
}

.error, .list-block, .block {
    width: fit-content;
    height: fit-content;
    background-color: var(--second-color);
    padding: 1rem;
    border: .15rem solid var(--tird-text-color);
    border-radius: .4rem;
}

.list-block {
    margin: .5rem;
}

.list {
    background-color: var(--second-color);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
}

.button {
    width: fit-content;
    height: fit-content;
    display: block;
    padding: .5rem;
    background-color: var(--tird-color);
    border: .15rem solid var(--tird-text-color);
    border-radius: .4rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--second-color);
}

.link {
    color: var(--tird-text-color);
    cursor: pointer;
}

.link:hover {
    color: var(--second-color);
}

.error {
    background-color: rgba(131, 20, 20, 0.7);
    color: #000000;
}
