ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #f2eed6;
    padding: 10px;
    border-bottom: 2px solid black;
}

.logo img{
    width: 32%;
}

.menu{
    display: flex;
}

.menu li{
    padding-left: 30px;
}

.menu li a{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

#botao_desconectar{
    display: inline-block;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 40px 40px 40px 40px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}