.list-block {
    height: 10rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list {
    min-height: 85vh;
}

.lojas-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#cadastrar-loja {
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    background-color: var(--tird-color);
    text-align: center;
    vertical-align: middle;
    line-height: 10rem;
    font-size: 4rem;
    padding: 0;
    cursor: pointer;
    user-select: none;
}
