body {
    background-color: #fbf6f3;
    min-height: 100%;
}

html, body {
    height: 100%;
}

h1 {
    color: rgba(166,166,166,255);
    text-align: center;
    font-size: 8vh;
    margin-top: 3%;
}

input {
    background-color: #fbf6f3;
    color: #b6b5b4;
    width: 60%;
    height: 10%;
    font-size: 120%;
    padding: 1% 1% 1% 2%;
    border-radius: 50px;
    border: solid 3px #bebcbc;
    margin-left: 8%;
}

#documento {
    background-color: #fbf6f3;
    color: #b6b5b4;
    border: dotted 3px #bebcbc;
    border-radius: 50px;
    width: 60%;
    padding: 30% 1% 30% 1%;
    margin-left: 25%;
}

#botao-criar {
    display: flex;
    background-color: #b1b0b0;
    color: #fbf6f3;
    width:30%;
    justify-content: center;
    margin-left: 25%;
}

#botao-criar:hover {
    cursor: pointer;
    background-color: #8d8d8d;
}

.form-field {
    margin-bottom: 2%;
}

#form {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3%;
}