.avisos {
    background-color: #FFFFE0;
    border: 1px solid #E6DB55;
    padding: 10px;
    margin: 10px;
}

#criar-aviso {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
