body{
    background-color: #f2eed6;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid black;
    border-radius: 2px;
}

#nome-empresa h1{
    color: #a91f1f;
    text-align: center;
    font-family: 'Londrina Solid', sans-serif;
    font-size: 45px;
}

#menu img, #aviso img{
    width: 2vw;
    height: 2vw;
}

article h1{
    color: rgb(128, 128, 128);
    text-align: center;
    font-size: 30px;
    font-family: 'Chivo', sans-serif;
}

#pesquisa_cadastro button{
    background-color: #f2eed6;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 10px;
    display: inline;
    padding: 2px;
    font-family: 'Chivo', sans-serif;
    font-size: 20px;
}

#pesquisa_cadastro{
    margin-left: 1%;
}

#aviso button, #menu button{
    background-color: #f2eed6;
    border:0;
}

#pesquisa_cadastro input{
    background-color: #f2eed6;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 10px;
    display: inline;
    padding: 2px;
    font-family: 'Chivo', sans-serif;
    font-size: 20px;
    margin-left: 5%;
}

#listar_cliente{
    margin-left: 1%;
    margin-top: 1%;
}

#listar_cliente td{
    padding: 0 10px 0 10px;
    border: 1px solid gray;
    border-radius: 4px;
    font-family: 'Chivo', sans-serif;
    font-size: 15px;
    text-align: center;
}

#editar_cliente{
    display: none;
}