#header-items {
    display: grid;
    grid-template-columns: 1.25vw [left-start]   1fr [left-center]   1fr [left-end]     .5vw
                                  [middle-start] 1fr [middle-center] 1fr [middle-end]   .5vw
                                  [right-start]  1fr [right-center]  1fr [right-middle] 1.25vw;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh 0;
    height: 10vh;
    background-color: #e2e3d1;
}

#header-items #linha-header {
    width: 100vw;
    margin-left: 1.25vw;    
    margin-right: 1.25vw;
}

#linha-header {
    border: 5px solid #808166;
    border-radius: 200px 200px 200px 200px;
    margin-left: 1.25vw;
    margin-right: 1.25vw;
}

#logo-div {
    grid-area: 1 / middle-start / 2 / middle-end;
    cursor: pointer;
    text-align: center;
    height: 100%;
}

#logo-div img {
    height: 9vh;
}

#menu-button {
    grid-area: 1 / right-center / 2 / right-end;
    cursor: pointer;
}

#menu-button > div {
    width: 5vh;
    height: 0.75vh;
    border: solid 2px #808166;
    border-radius: 100px 100px 40px 40px;
    background-color: #fff;
    margin: 0.5vh 3vh;
}

#menu {
    position: absolute;
    flex-direction: column;
    right: 0%;
}

#menu.active {
    display: flex;
    animation: slideIn 1s forwards;
}

#menu.inactive {
    animation: slideOut 1s forwards;
    display: none;
}

@keyframes slideIn {
    0% {
        right: -10%;
    }
    100% {
        right: 4%;
    }

}

@keyframes slideOut {
    0% {
        right: 4%;
    }
    100% {
        right: -10%;
    }
}

#menu > div {
    padding: 10px;

}

#menu > div a {
    text-decoration: none;
    color: #b4b582;
    border-bottom: 2px solid #808166;
}