body {
    background-color: #e2e3d1;
    color: #c9cbad;
    overflow: hidden;
}

h1 {
    position: relative;
    font-size: 8vh;
    top: -50%;
    text-align: center;
}

.hidden {
    width: 10%;
    height: 10%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="text"], input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #b4b582;
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 4vh;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 20px;
    border: solid 2px;
    border-radius: 40px 40px 40px 40px;
}

.form-field {
    position: relative;
    margin: 20px;

}

.form-field input {
    border: solid 2px;
    border-radius: 40px 40px 40px 40px;
    padding: 8px;
    width: 100%;
    background-color: transparent;

}

.form-field label {
    position: absolute;
    top: 25px;
    left: 20px;
    background-color: white;
    padding: 0 5px;
}

